//
// Intro
// ---------------------------

@import '../../styles/colors';

:local(.root) {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: tomato;
}

:local(.scroll) {
    position: absolute;
    bottom: 5em;
    left: 50%;
    transform: translateX(-50%);
    color: $plum;
    font-weight: 500;
}

:local(.logo) {
    display: inline-block;
    animation-name: ckw;
    animation-duration: 15.5s;
    /* Things added */
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
    display: inline-block;
    /* <--- */
    @keyframes ckw {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}

:local(.ocean) { 
    height: 5%;
    width:100%;
    position:absolute;
    bottom:0;
    left:0;
    background: #015871;
  }
  
  :local(.wave) {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; 
    position: absolute;
    top: -198px;
    width: 6400px;
    height: 198px;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
  }
  
  :local(.wave:nth-of-type(2)) {
    top: -175px;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
    opacity: 1;
  }
  
  @keyframes wave {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: -1600px;
    }
  }
  
  @keyframes swell {
    0%, 100% {
      transform: translate3d(0,-25px,0);
    }
    50% {
      transform: translate3d(0,5px,0);
    }
  }

:local(.container) {
    position: relative;
    width: 25em;
}

:local(.ring) {
    position: relative;
    z-index: 2;
}

:local(.circle) {
    position: absolute;
    top: 15%;
    left: 15%;
    width: 70%;
    height: 70%;
    z-index: 1;

    .parallax-inner {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 3px solid $plum;
        border-radius: 50%;
    }
}

:local(.circleInner) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 3px solid $plum;
    border-radius: 50%;
}

:local(.hemispheres) {
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
}
